<nav>
  <span class="title">Schoodle</span>
  <div class="right-side-header">
  <label class="search-label" for="search">Find an event: </label>
  <input class="search" type="text" placeholder="Search...">
  <button id="search-button" type="submit" class="btn-primary"> <i class="fas fa-search search-icon"></i></button>
  </div>
</nav>
