<!DOCTYPE html>
<html lang="en">

<head>
  <title>Schoodle: Event Creator</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/welcome.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Disable Viewport Zooming-->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
</head>

<body>
  <%- include('partials/_header') %>
  <div id="welcome-content">
  <h1 class="welcome-label">Welcome to Schoodle!</h1>
  <h2 class="welcome-label">To get started, enter a valid name and email:</h2>
  <div id="organizer-info">
    <form class="form-inline" action="/new-events" method="POST">
      <label for="name">Name: </label>
      <input type="text" name="name">
      <label for="email">Email: </label>
      <input type="email" name="email">
      <button type="submit" id="name-email-submit">Submit</button>
    </form>
  </div>
  </div>
</body>
</html>
