<!DOCTYPE html>
<html lang="en">

<head>
  <title>Schoodle: New Event</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new-event.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/event-popup.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Disable Viewport Zooming-->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
</head>

<body>
  <%- include('partials/_header') %>
  <div class="popup"><a id="createdURL"></a><i class="fas fa-clipboard"></i></div>
    <section id="new-event">
      <h2 id="create-event-label">Create Event: </h2>
      <form id="event-form" method="POST" action="/new-event">
        <div class="event-info">
          <i class="fas fa-star icon"></i>
          <input type="text" class="event-field" placeholder="Event Title" name="title" required>
        </div>
        <div class="event-info">
          <i class="far fa-compass icon"></i>
          <input type="text" class="event-field" placeholder="Location" name="location" required>
        </div>
        <div class="event-info">
          <i class="fas fa-calendar-week icon"></i>
          <input type="date" class="event-field" placeholder="Date" name="date" required>
        </div>
        <div class="event-info">
          <i class="far fa-clock icon"></i>
          <%- include('partials/_timeslots') %>
        </div>
        <div class="bottom-content">
          <div id="description">
            <label for="description" id="description-label">Description:</label>
            <textarea class="description-textarea" name="description"
              placeholder="Add a note to describe the event"></textarea>
          </div>
          <button type="submit" id="create-event-button">Create Event</button>
        </div>
      </form>
      <!-- <span id="url-slidedown">Event URL  </span> -->
    </section>

</body>

</html>
