#new-event {
  background-color: #FFFFFF;
  padding: 2em;
  margin-top: 10em;
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#create-event-label {
  font-family: "Comfortaa";
  font-size: 2em;
}

#organizer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 5em;
  font-family: "Comfortaa";
}

.time-slot {
  margin-right: 5em;
  margin-bottom: 1em;
}

#time-slot-1 {
  margin-left: 5em;
}

.event-field {
  width: 100%;
  background-color: transparent;
  border: transparent;
  font-family: "Comfortaa";
  border-bottom: 2px solid;
  margin-bottom: 3em;
}

.event-info {
  display: flex;
  flex-direction: row;
}

.icon {
  padding-right: 1em;
  font-size: 1.5em;
}

.bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Comfortaa";
}

#description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2em;
}

#description-label {
  padding-bottom: 1em;
}

.description-textarea {
  resize: none;
  width: 200%;
}

#create-event-button {
  padding: 1em;
  height: 50%;
  margin-top: 2em;
}

.popup{
  // width: 100%;
  // height: 400px;
  // margin-bottom: 5em;
  // border: dotted;
  // border-color: rgb(0, 0, 0);
  // color: rgb(0, 0, 0);

    // visibility:hidden;
    // display:none;
    display: flex;
    justify-content: center;
    width:60%;
    background-color:#000000;
    position:fixed;
    // left:35%;
    // top:30%;
    border-style:ridge;
    border:2px solid grey;
    box-shadow:0px 0px 10px 0px grey;
    font-family:helvetica;
    font-size: 80px;
}

#createdURL {
  color: #FFFFFF;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
}

.fa-clipboard {
    // display: flex;
    // align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 30px;
}
