#welcome-content {
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa";
}

#welcome-label {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

#organizer-info {
  padding-top: 2em;
  padding-bottom: 5em;

}
