#welcome-content {
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa";
}

.welcome-label {
  display: flex;
  justify-content: center;
}

#organizer-info {
  padding-top: 2em;
  padding-bottom: 5em;

}
